body {
    background-color: rgb(175, 74, 74);
}

h1 {
    text-align: center;
    font-family: arial;
    width: 100%;
}

#rock, #paper, #scissor {
    display: inline-block;
    font-size: 50px;
    direction: row;
    border: black 4px solid;
    border-radius: 10%;
    margin: 0 auto;
    background-color:rgb(21, 148, 120);
    position: relative;
    flex-shrink: 2;
    margin-left: 190px;
}

#rock:hover, #paper:hover, #scissor:hover {
    background-color: rgb(72, 165, 80);
    border-color: rgb(72, 165, 80);
}

.buttons {
    width: 100%;
    display: flex;
    direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

hr {
    border-color: black;
}

.scores {
    width: 100%;
    height: 10%;
    display: flex;
    direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.scores > p {
    display:block;
    width: 100%;
    text-align: center;
    font-size: 30px
}

#endGame {
    background-color: black;
}

#results > p {
    font-size: 20px;
    font-family: 'Goldman', cursive;
    color:rgb(19, 37, 136)
}